{% load static %}
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> Info@vegefresh.com</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">

                        {% if request.user.is_authenticated %}
                        <div class="header__top__right__language">
                            <div><i class="fa fa-user " aria-hidden="true " style="margin-right: 5px;
                                color: rgb(128, 10, 10);"></i>{{ request.user.get_full_name |upper}}</div>

                        </div>
                        <div class="header__top__right__language">
                            <h6> <a class="btn" href="" style="text-decoration:none;"><i class="fal fa-tachometer-alt" aria-hidden="true " style="margin-right: 5px;
                                color: rgb(128, 10, 10);"></i>Dashboard</a></h6>
                        </div>
                        <div class="header__top__right__language">

                            <h6> <a class="btn" href="" style="text-decoration:none;"><i class="fal fa-sign-out" aria-hidden="true " style="margin-right: 5px;
                                color: rgb(128, 10, 10);"></i>Logout</a></h6>
                        </div>
                        {% else %}
                        <div class="header__top__right__auth">
                            <a href=""><i class="fal fa-user-plus"></i>Registeration</a>

                        </div>
                        <div class="header__top__right__auth">

                            <a href=""><i class="fal fa-sign-in"></i>Login</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'home'%}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-7 justify-content-center">
                <nav class="header__menu justify-content-center">
                    <ul class="justify-content-center">
                        <li><a href="{% url 'home'%}">Market</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Farms</a></li>
                        <li><a href="">Support</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2">


                </div>
            </div>
        </div>

    </div>
</header>