<!doctype html> {% extends 'home/main.html' %} {% load static %} {% block content %}
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
{% load widget_tweaks %}


<body>



    <div class="container-fluid">
        <div class="row" style="display: flex;
        -ms-flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;flex-wrap: nowrap;">
            {% include 'farms/farm_nav.html' %}
            <main class="col-md-10 ms-sm-auto px-md-4">
                <div class="container" style="margin: 25px;width:600px">

                    <h2>Profile Info</h2>
                </div>
                <div class="" id="profiledite">
                    <table class="table  table-borderless">
                        <tbody>
                            <tr>

                                <td colspan="2">
                                    <div class="col-lg-8">
                                        <div class="checkout__input">
                                            <span><h5 class="text-muted font-weight-bolder ">Full Name :  {{request.user.get_full_name|title}}</h5></span>

                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-8">
                                        <div class="checkout__input">
                                            <span><h5 class="text-muted font-weight-bolder">Phone : {{request.user.userprofile.phone}}</h5></span>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">
                                    <div class="col-lg-8">
                                        <div class="checkout__input">
                                            <span><h5 class="text-muted font-weight-bolder">Address : {{request.user.userprofile.address}}</h5></span>
                                        </div>
                                    </div>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-8">
                                        <div class="checkout__input">
                                            <span><h5 class="text-muted font-weight-bolder">Area / District / Postal Code: {{request.user.userprofile.area}}</h5></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-8">
                                        <div class="checkout__input">
                                            <span><h5 class="text-muted font-weight-bolder">Town/City : {{request.user.userprofile.city}}</h5></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-8">
                                        <div class="checkout__input">
                                            <span><h5 class="text-muted font-weight-bolder">Country/State: {{request.user.userprofile.country}}</h5></span>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-lg-8">
                                        <div class="checkout__input">
                                            <button class="btn btn-primary rounded-pill" hx-get="{% url 'editProfile' %}" hx-trigger="click" hx-target="#profiledite">Edit</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </main>
        </div>
    </div>


</body>


{% endblock %}