{% extends 'home/main.html' %} {% load static %} {% block content %}
<script src="https://unpkg.com/htmx.org@1.6.1"></script>

{% load widget_tweaks %}


<body>



    <div class="container-fluid">
        <div class="row" style="display: flex;
        -ms-flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;flex-wrap: nowrap;">
            {% include 'farms/support_nav.html' %}
            <main class="col-9">
                <div class="container" style="margin: 25px">

                    <h2>FAQ</h2>
                    <h5 id="conf"></h5>

                </div>
                <div id="wreqst">
                    {% for i in faq_gen %}
                    <div class="row">
                        <div class="accordion w-100" id="basicAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button " type="button" data-toggle="collapse" data-target="#g{{i.id}}" aria-expanded="false" aria-controls="headingOne">
                                        {{i.subject}}
                                    </button>

                                </h2>
                                <div id="g{{i.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-parent="#basicAccordion">
                                    <div class="accordion-body">
                                        {{i.answer}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </main>
        </div>
    </div>
</body>




{% endblock %}