{% extends 'farms/farm_main.html' %} {% load static %} {% block content %} {% load widget_tweaks %}

<div class="breadcrumb-area">

    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(/static/farm/img/bg-img/24.jpg);">
        <h2>Support Team</h2>
    </div>


</div>


<section class="our-services-area bg-gray " style="padding-top: 20px;">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-md-10 col-md-offset-2 rounded">
                <div class="form-bg rounded">
                    <form class="form rounded" method="post" enctype="multipart/form-data">{% csrf_token %}

                        <div class="form-group">
                            {% render_field form.subject class="form-control" type="text" placeholder="Add Implant Type - Required" required="" minlenght="10" %}
                        </div>
                        <div class="form-group">
                            {% render_field form.text class="form-control" type="text" rows="7" placeholder="Write Message - Required" required="" minlenght="50" %}</div>
                        <div class="form-group">
                            <div class="form-group col-md-2 col-sm-2">
                                <label class="label1">
                                    <img src=" {% static '/img/Upload.png' %}" height="50px" width="50px">
                                    Upload Your Photos Max 5

                                    
                                    <input id="fileupload" class="image" type="file"  style="padding-top:10px;"  name="fileupload"
                                        multiple="" accept="image/png, image/gif, image/jpeg"  />
                                </label>
                            </div>
                            <table>
                                <tr></tr>
                            </table>
                            <div id="divFiles">
                            </div>
                            <button type="submit" class="btn alazea-btn mt-15 rounded-pill" style="background-color: #458426;"> Ask </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>




    </div>
</section>



<script>
    $('#fileupload').change(function() {
        //get the input and the file list
        var input = document.getElementById('fileupload');
        if (input.files.length > 5) {
            $('.validation').css('display', 'none');
            alert("You can only upload a maximum of 5 files");
            input.value = ''
        } else {
            $('.validation').css('display', 'block');
        }
    });
</script>




{% endblock %}