<style>
    .nav-item .fal {
        transition: all 1s;
        float: left
    }
    
    .nav-item:hover .fal {
        transform: rotate(360deg);
        float: left
    }
    
    .dropdown-divider {
        border-top: 2px solid rgb(253, 253, 253);
    }
</style>
<div class="col-lg-2" style="margin-top: 50px;">

    <div class="d-flex flex-column  flex-shrink-0 p-2 text-white bg-dark rounded" style="border-radius: 4.25rem;">
        <div class="hero__categories__all" style="text-align: center;">
            <i class="fa fa-bars"></i>
            <span style="font-size: 14px;">Support</span>
        </div>
        <ul class="nav nav-pills flex-column mb-auto" style="margin-top:10px;">

            <li class="nav-item" style="padding-top: 3px;text-align: center;">

            

                <div id="xxx">
                    <ul class="nav nav-pills flex-column mb-auto" id="pageSubmenu">
                        <li class="nav-item" style="padding-top: 15px;text-align: center;">
                            <a href="{% url 'supportFAQ' %}" style="text-decoration: none;">

                                <h5 style="font-size: 18px; color: #ffffff;margin-right: 10px;"><i class="fal fa-question"></i>FAQ</a></h5>
                            </a>
                        </li>
                        <li class="nav-item" style="padding-top: 15px;text-align: center;">
                            <a href="{% url 'supportDelivery' %}" style="text-decoration: none;">

                                <h5 style="font-size: 18px; color: #ffffff;margin-right: 10px;"><i class="fal fa-truck"></i>Delivery</h5>
                            </a>
                        </li>
                        <li class="nav-item" style="padding-top: 15px;text-align: center;">
                            <a href="{% url 'supportReturn' %}" style="text-decoration: none;">
                                <h5 style="font-size: 18px; color: #ffffff;margin-right: 10px;"><i class="fal fa-exchange-alt"></i>Return</h5>
                            </a>
                        </li>
                        

                    </ul>
                </div>
            </li>






          

        </ul>


    </div>
</div>