<!doctype html> {% extends 'home/main.html' %} {% load static %} {% block content %}
<script src="https://unpkg.com/htmx.org@1.6.1"></script>



<body>



    <div class="container-fluid">
        <div class="row" style="display: flex;
        -ms-flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;flex-wrap: nowrap;">
            {% include 'staff/staff_nav.html' %}
            <main class="col-md-9 ms-sm-auto px-md-4">
                <div class="container" style="margin: 25px;width:600px">

                    <h2>Delivery</h2>
                </div>
                <div class="container">
                    <ul class="nav justify-content-center" style="margin-bottom: 10px;">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'getDeliveryProfile' %}">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'getDeliveryNew' %}">New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'getOutOfDelivery' %}">Out Of Delivery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'getDeliveryDelivered' %}">Delivered</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'getDeliveryPickup' %}">Pick UP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'getUnableToDelivery' %}">Failed To Delivery</a>
                        </li>
                       
                    </ul>

                </div>
                <div class="" id="plist">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr style="text-align: center;">
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Point</th>
                                <th scope="col">Farm</th>
                                <th scope="col">Order </th>
                                <th scope="col">Farm Order</th>
                       
                                <th scope="col">Failed to Delivery</th>
                     
                                <th scope="col">info</th>

                            </tr>
                        </thead>
   
                        <tbody>
                            {% for i in get_list %}
                            <tr style="text-align: center;">
                                <td>{{forloop.counter}}</td>
                                <td>{{i.name|title}}</td>
                                <td>{{i.point}}</td>
                                <td>{{i.farm}}</td>
                                <td>{{i.order}}</td>
                                <td>{{i.farm_order}}</td>
                        
                                <td>{{i.failed}}</td>
                      
                                {% if i.order %}
                                <td><button class="btn btn-primary rounded-pill" hx-get="{% url 'getPurchaseDetail' i.order.id %}" hx-trigger="click" hx-target="#plist"><i class="fal fa-info"></i></button></td>
                                {% else %}
                                <td><button class="btn btn-primary rounded-pill" hx-get="{% url 'getFarmOrderDetail' i.farm_order.id %}" hx-trigger="click" hx-target="#plist"><i class="fal fa-info"></i></button></td>
{% endif %}
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if get_list.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ get_list.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ get_list.number }} of {{ get_list.paginator.num_pages }}.
                            </span> {% if get_list.has_next %}
                        <a href="?page={{ get_list.next_page_number }}">next</a>
                        <a href="?page={{ get_list.paginator.num_pages }}">last &raquo;</a> {% endif %}
                        </span>
                    </div>
                </div>
            </main>
        </div>
    </div>


</body>

</html>
{% endblock %}