{% extends 'home/main.html' %} {% load static %} {% block content %}
<script src="https://unpkg.com/htmx.org@1.6.1"></script>



<body>



    <div class="container-fluid">
        <div class="row" style="display: flex;
        -ms-flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;flex-wrap: nowrap;">
            {% include 'staff/staff_nav.html' %}
            <main class="col-md-9 ms-sm-auto px-md-4">
                <div class="container" style="margin: 25px;width:600px">

                    <h2>All Farms Offers</h2>
                </div>
                <div class="container">
                    <ul class="nav justify-content-center" style="margin-bottom: 10px;">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'getAllProducts' %}">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'getSellingProducts' %}">Selling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'existCategory' %}">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'productCategory' %}">Sub Category</a>
                        </li>
                    </ul>

                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Farm </th>
                                <th scope="col">Product</th>
                                <th scope="col">Offer Price</th>
                                <th scope="col">Selling Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Location</th>
                                <th scope="col">Due Date</th>
                                <th scope="col">Date</th>
                                <th scope="col">R-Days</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in get_list %}
                            <tr style="color: rgb(64, 64, 66);">
                                <td>{{ forloop.counter }}</td>
                                <td class="text-center text-wrap" style="width: 6rem;">{{i.farm}}</td>
                                <td class="text-center text-wrap" style="width: 6rem;">{{i.product}}</td>
                                <td>{{i.price}} {{i.symbl|upper}}</td>
                                <td>{{i.selling_price}} {{i.symbl|upper}}</td>
                                <td>{{i.inventory}} {{i.scale|upper}}</td>
                                <td class="text-center text-wrap" style="width: 6rem;">{{i.city}} {{i.country}}</td>
                                <td class="text-center text-wrap" style="width: 6rem;">{{i.inv_due_date}}</td>
                                <td class="text-center text-wrap" style="width: 6rem;">{{i.create_date|date:'d-M-Y'}}</td>
                                <td hx-get="{% url 'getDifDate' i.id %}" hx-trigger="load" hx-target="this"></td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if get_list.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ get_list.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ get_list.number }} of {{ get_list.paginator.num_pages }}.
                            </span> {% if get_list.has_next %}
                        <a href="?page={{ get_list.next_page_number }}">next</a>
                        <a href="?page={{ get_list.paginator.num_pages }}">last &raquo;</a> {% endif %}
                        </span>
                    </div>
                </div>
            </main>
        </div>
    </div>


</body>

<script>
    const date1 = new Date('7/13/2010');
    const date2 = new Date('12/15/2010');
    const diffTime = Math.abs(date2 - date1);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
    console.log(diffTime + " milliseconds");
    console.log(diffDays + " days");
</script>
{% endblock %}