<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
    
    div.gallery img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container" style="margin-bottom:20px;">
    <a class="btn btn-primary rounded-pill" href="{{ request.META.HTTP_REFERER }}">Back</a>
    <a class="btn btn-primary rounded-pill" href="{% url 'formCategoryEdit' get_list.id %}">Edit</a>
    <a class="btn btn-danger rounded-pill float-right" href="{% url 'deleteDelivery' get_list.id %}">Delete</a>
</div>
<div classs="d-flex flex-row align-items-center mb-4" style="display:flex;flex-wrap: nowrap;flex-direction: row;">
    <div class="col-md-5">
        <span><h4>User : {{get_list.name.get_full_name}}</h4></span>
        <span><h5>Phone : {{get_list.name.userprofile.phone}}</h5></span>
        <span><h5>Email : {{get_list.name.email}}</h5></span>

    </div>
</div>
<div class="d-flex flex-row align-items-center mb-4" style="margin-top: 10px;margin-left: 10px;">
    <div class="gallery">
        {% for i in get_docs %}
        <a target="_blank" href="{{i.photo.url}}">
            <img src="{{i.photo.url}}" width="200" height="200" style="width: 200;height: 200;margin-bottom: 15px;">
        </a>{% endfor %}
    </div>
</div>

<div class="container">

    <table class="table table-borderless ">

        <tbody>
            <tr>
                <td>
                    <label style="color:red">Area :</label>

                </td>
                <td>
                    {{get_list.area}}
                </td>

            </tr>
            <tr>
                <td>
                    <label style="color:red">City :</label>

                </td>
                <td>
                    {{get_list.city}}
                </td>

            </tr>
            <tr>
                <td>
                    <label style="color:red">Country :</label>

                </td>
                <td>
                    {{get_list.country}}
                </td>

            </tr>
            <tr>
                <td>
                    <label style="color:red">Currency :</label>

                </td>
                <td>
                    {{get_list.symbl}}
                </td>

            </tr>
            <tr>
                <td>
                    <label style="color:red">Start Time :</label>

                </td>
                <td>
                    {{get_list.start_time}}
                </td>

            </tr>
            <tr>
                <td>
                    <label style="color:red">End Time :</label>

                </td>
                <td>
                    {{get_list.end_time}}
                </td>

            </tr>
            <tr>
                <td>
                    <label style="color:red">Approved :</label>

                </td>
                <td>
                    {% if get_list.approved %}
                    {{get_list.approved}}
{% else %}
                    <a class="btn btn-primary rounded-pill" href="{% url 'approveDelivery' get_list.id %}">Approve</a>
            
                    {% endif %}
                </td>

            </tr>
            <tr>
                <td>
                    <label style="color:red">Delivery Terms :</label>

                </td>
                <td>
                    {{get_list.terms}}
                </td>

            </tr>

        </tbody>

    </table>


</div>