{% extends 'dashboard/base.html' %} {% load static %} {% block contain %}

<body>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Payment Acc</h4>
            <div class="col-md-6">
                <input class="form-control" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' type="search" name="search" placeholder="Begin Typing To Search Order..." hx-post="{% url 'orderFilter' %}" hx-trigger="keyup changed delay:500ms, search" hx-target="#data" hx-indicator=".htmx-indicator">

            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="display-4"> Name : {{user.trader_name|title}}</span>
                </div>
                <div class="col-md-3">
                    <span class="display-4" style="margin-right: 10px;">Total :</span><span class="display-4">{{count}} {{user.symbl}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="h5"> Account : {{bank.current|title}}</span>
                </div>
                <div class="col-md-5">
                    <span class="h5" style="margin-right: 10px;">New :{{bank.new|title}}</span><span class="h5">{{bank.change}}</span>
                </div>
            </div>
            <form method="post" action="{% url 'getCashOTraderAccunt' user.id %}"> {% csrf_token %}
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <input type="text" name="trasid" class="form-control" placeholder="Transaction ID - only Numbers" required>

                    </div>
                    <div class="col-md-3">
                        <input type="text" name="trasref" class="form-control" placeholder="Transaction REF" required>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <a href="{% url 'getCashOTraderallAccunt' user.id %}" class="btn btn-dark btn-rounded btn-fw" style="margin-left: 15px;">All</a>
                        <a href="{% url 'getCashOTraderAccunt' user.id %}" class="btn btn-dark btn-rounded btn-fw" style="margin-left: 15px;">Due Amount</a>
                        <button type="submit" class="btn btn-dark btn-rounded btn-fw" style="margin-left: 15px;">Pay</button>
            </form>

            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark btn-rounded btn-fw" style="margin-right: 15px; float: right;">BACK</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive" id="data">
                <table class="table table-bordered">
                    <thead>
                        <tr style="text-align: center;">
                            <th>#</th>
                            <th>Trader</th>
                            <th>Order No.</th>
                            <th>title</th>
                            <th>country</th>
                            <th>zone</th>
                            <th>city</th>
                            <th>total</th>
                            <th>Currency</th>
                            <th>Status</th>
                            <th>Due</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for i in account %}
                        <tr style="text-align: center;">
                            <td>{{forloop.counter}}</td>
                            <td>{{i.supplier.trader_name}}</td>
                            <td>{{i.transaction_id}}</td>
                            <td>{{i.title}} </td>
                            <td>{{i.country}}</td>
                            <td>{{i.zone.zone}}</td>
                            <td>{{i.city}}</td>
                            <td>{{i.expense}}</td>
                            <td>{{i.symbl}}</td>
                            <td>{{i.key}}</td>
                            <td>{{i.due_date}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="margin-top: 20px;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center "> {% if account.has_previous %}
                            <li class="page-item"><a class="btn btn-outline-secondary" href="?page=1" aria-label="First"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="page-item"><a class="btn btn-outline-secondary" href="?page={{ account.previous_page_number }}">Previous</a></li> {% endif %}
                            <span class="current" style="padding-left:15px;padding-right:15px;">
                                Page {{ account.number }} of {{ account.paginator.num_pages }}.
                            </span> {% if account.has_next %}
                            <li class="page-item"><a class="btn btn-outline-secondary" href="?page={{ account.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="btn btn-outline-secondary" href="?page={{ account.paginator.num_pages }}" aria-label="last"><span
                                        aria-hidden="true">&raquo;</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

    </div>
</body>

{% endblock %}