<table class="table table-bordered">
    <thead>
        <tr style="text-align: center;">
            <th>#</th>
            <th>Order No.</th>
            <th>Progress</th>
            <th>Amount</th>
            <th>Zone</th>
            <th>Date</th>
            <th>Payment</th>
            <th>Payment ref</th>
            <th>Details</th>
            <th>Buyer</th>
        </tr>
    </thead>
    <tbody>
        {% for i in order %}
        <tr style="text-align: center;">
            <td>{{forloop.counter}}</td>
            <td>{{i.transaction_id}}</td>
            <td>{{i.status}} </td>
            <td>{{i.total}} {{i.symbl}}</td>

            <td>{{i.zone.zone}}</td>
            <td>{{i.create_date}}</td>
            <td>{{i.payment_result}}</td>
            <td>{{i.tran_ref}}</td>
            <td>
                <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon" hx-get="{% url 'orderDetails' %}" hx-trigger="click" hx-target="#data" hx-vals='{"myid": "{{i.id}}"}'>
                    <i class="mdi mdi-information-outline icon-md text-danger"></i>
                  </button>


            </td>
            <td>
                <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon" hx-get="{% url 'orderUserDetails' %}" hx-trigger="click" hx-target="#data" hx-vals='{"myid": "{{i.name.id}}"}'>
                <i class="mdi mdi-account-card-details icon-md text-danger"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>